# ------------------------------------------------------------ Constants
# Assumptions (born to be tuned):
#    - Your IT projects are in $HOME/dev/projects
#    - You use node version 0.10.7
#export PROJECTS=$HOME/dev/projects
export OPENLIBS={{ openlibs }}
export NODE_VERSION={{ dev.node_version }}
export EDITOR={{ editor }}

TIME=`date +"%T"`

# Registering useful paths
# Customize to your needs...
export CDPATH=.:~:$HOME/dev/projects
export LD_LIBRARY_PATH=/usr/local/lib
export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig 
#export TERM="xterm-256color"

test -d $HOME/local/bin && PATH="$HOME/local/bin:$PATH"
test -d $HOME/local/lib && PATH="$HOME/local/lib:$PATH"

# Go configuration
#TODO use of gvm ======================
export GOROOT=/opt/go
export GOOS=linux
export GOARCH=amd64
#export GOBIN=$GOROOT/bin
export GOPATH=$HOME/dev/goworkspace
export PATH=$PATH:/opt/go/bin:$GOPATH/bin
# ======================================

# ------------------------------------------------------------- Functions
# Useful personal function, a little combinaison of two other one
function mkdircd () { mkdir -p "$@" && eval cd "\"\$$#\""; }
function up()
{
    LIMIT=$1
    P=$PWD
    for ((i=1; i <= LIMIT; i++))
    do
        P=$P/..
    done
    cd $P
    export MPWD=$P
}

function back()
{
    LIMIT=$1
    P=$MPWD
    for ((i=1; i <= LIMIT; i++))
    do
        P=${P%/..}
    done
    cd $P
    export MPWD=$P
}

#TODO Should it be replaced by https://github.com/simonwhitaker/gitignore-boilerplates ?
# Command line access to http://gitignore.io/, powered by https://github.com/github/gitignore
function gi() { curl http://gitignore.io/api/$@ ;}

# ------------------------------------------------------------- Plugins
# Node version management
#[[ -s $HOME/.nvm/nvm.sh ]] && . $HOME/.nvm/nvm.sh  # This loads NVM
if [[ -s $HOME/.nvm/nvm.sh ]]; then
    . $HOME/.nvm/nvm.sh  # This loads NVM
    nvm use v$NODE_VERSION
    [[ -r $NVM_DIR/bash_completion ]] && . $NVM_DIR/bash_completion
    export NODE_PATH=$HOME/.nvm/v$NODE_VERSION/lib/node_modules
    export NODE_ENV=development
fi

# Python virtualenv made easy
test -f /usr/local/bin/virtualenvwrapper.sh && source /usr/local/bin/virtualenvwrapper.sh && export WORKON_HOME=$HOME/.virtualenvs

# z is the new j, yo (https://github.com/rupa/z.git)
test -d $OPENLIBS/z && source $OPENLIBS/z/z.sh

# Adds numbered shortcuts to the output git status, and much more (https://github.com/ndbroadbent/scm_breeze.git)
[ -s "$HOME/.scm_breeze/scm_breeze.sh" ] && source "$HOME/.scm_breeze/scm_breeze.sh"

# script for automatic environment
test -d $OPENLIBS/autoenv && source $OPENLIBS/autoenv/activate.sh

### Added by the Heroku Toolbelt
test -d /usr/local/heroku && export PATH="/usr/local/heroku/bin:$PATH"

# A full-featured & carefully designed adaptive prompt for Bash & Zsh
test -d $OPENLIBS/liquidprompt && source $OPENLIBS/liquidprompt/liquidprompt

# A BASH wrapper for getopts, for simple command line arguments
test -d $OPENLIBS/optparse && source $OPENLIBS/optparse/optparse.bash
